<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>welcome</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="static/welcome.css"/>
<script id="applicationScript" type="text/javascript" src="static/welcome.js"></script>
</head>
<body>
<div id="welcome">
	<img id="welcome_page" src="static/welcome_page.png" srcset="static/welcome_page.png 1x, static/welcome_page@2x.png 2x">
	<div id="Group_1">
		<a href="/login" id="login_btn" class="login_btn">
			<svg class="box2">
				<rect fill="rgba(46,14,223,1)" id="box2" rx="10" ry="10" x="0" y="0" width="173" height="50">
				</rect>
			</svg>
			<div id="LOGIN">
				<span>LOGIN</span>
			</div>
		</a>
		<a href="/register" id="Signup_btn" class="Signup_btn">
			<svg class="box1">
				<rect fill="rgba(245,158,0,1)" id="box1" rx="10" ry="10" x="0" y="0" width="173" height="50">
				</rect>
			</svg>
			<div id="SIGNUP">
				<span>SIGNUP</span>
			</div>
		</a>
	</div>
</div>
</body>
</html>
